<%= form_with model: option_type do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :presentation %><br>
    <%= form.text_area :presentation %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
  <%= link_to 'Back', option_types_path %>
<% end %>